<section id="page-header">

    <h2>#stayhome</h2>

    <p>Save more with coupons & up to 70% off!</p>

</section>
<section id="product" class="section-p1">
  
  <div class="row">
    <div class="col-lg-3">
      <app-product>
        <img class="img" src="assets/products/f1.jpg" alt="">
        <span class="brand">Adidas</span>
        <h5 class="name">Cartoon Astronaut T-shirts</h5>

        <h4 class="price">$78</h4>
      </app-product>
    </div>
    <div class="col-lg-3">
      <app-product>
        <img class="img" src="assets/products/f2.jpg" alt="">
        <span class="brand">Adidas</span>
        <h5 class="name">Cartoon Astronaut T-shirts</h5>

        <h4 class="price">$78</h4>
      </app-product>
    </div>
    <div class="col-lg-3">
      <app-product>
        <img class="img" src="assets/products/f3.jpg" alt="">
        <span class="brand">Adidas</span>
        <h5 class="name">Cartoon Astronaut T-shirts</h5>

        <h4 class="price">$78</h4>
      </app-product>
    </div>

    <div class="col-lg-3">
      <app-product>
        <img class="img" src="assets/products/f4.jpg" alt="">
        <span class="brand">Adidas</span>
        <h5 class="name">Cartoon Astronaut T-shirts</h5>

        <h4 class="price">$78</h4>
      </app-product>
    </div>
    <div class="col-lg-3">
      <app-product>
        <img class="img" src="assets/products/f5.jpg" alt="">
        <span class="brand">Adidas</span>
        <h5 class="name">Cartoon Astronaut T-shirts</h5>

        <h4 class="price">$78</h4>
      </app-product>
    </div>
    <div class="col-lg-3">
      <app-product>
        <img class="img" src="assets/products/f6.jpg" alt="">
        <span class="brand">Adidas</span>
        <h5 class="name">Cartoon Astronaut T-shirts</h5>

        <h4 class="price">$78</h4>
      </app-product>
    </div>
    <div class="col-lg-3">
      <app-product>
        <img class="img" src="assets/products/f7.jpg" alt="">
        <span class="brand">Adidas</span>
        <h5 class="name">Cartoon Astronaut T-shirts</h5>

        <h4 class="price">$78</h4>
      </app-product>
    </div>
    <div class="col-lg-3">
      <app-product>
        <img class="img" src="assets/products/f8.jpg" alt="">
        <span class="brand">Adidas</span>
        <h5 class="name">Cartoon Astronaut T-shirts</h5>

        <h4 class="price">$78</h4>
      </app-product>
    </div>
    <div class="col-lg-3">
        <app-product>
          <img class="img" src="assets/products/n1.jpg" alt="">
          <span class="brand">Adidas</span>
          <h5 class="name">Cartoon Astronaut T-shirts</h5>
  
          <h4 class="price">$78</h4>
        </app-product>
      </div><div class="col-lg-3">
        <app-product>
          <img class="img" src="assets/products/n2.jpg" alt="">
          <span class="brand">Adidas</span>
          <h5 class="name">Cartoon Astronaut T-shirts</h5>
  
          <h4 class="price">$78</h4>
        </app-product>
      </div><div class="col-lg-3">
      <app-product>
        <img class="img" src="assets/products/n3.jpg" alt="">
        <span class="brand">Adidas</span>
        <h5 class="name">Cartoon Astronaut T-shirts</h5>

        <h4 class="price">$78</h4>
      </app-product>
    </div><div class="col-lg-3">
        <app-product>
          <img class="img" src="assets/products/n4.jpg" alt="">
          <span class="brand">Adidas</span>
          <h5 class="name">Cartoon Astronaut T-shirts</h5>
  
          <h4 class="price">$78</h4>
        </app-product>
      </div><div class="col-lg-3">
        <app-product>
          <img class="img" src="assets/products/n5.jpg" alt="">
          <span class="brand">Adidas</span>
          <h5 class="name">Cartoon Astronaut T-shirts</h5>
  
          <h4 class="price">$78</h4>
        </app-product>
      </div><div class="col-lg-3">
      <app-product>
        <img class="img" src="assets/products/n6.jpg" alt="">
        <span class="brand">Adidas</span>
        <h5 class="name">Cartoon Astronaut T-shirts</h5>

        <h4 class="price">$78</h4>
      </app-product>
    </div>
    <div class="col-lg-3">
        <app-product>
          <img class="img" src="assets/products/n7.jpg" alt="">
          <span class="brand">Adidas</span>
          <h5 class="name">Cartoon Astronaut T-shirts</h5>
  
          <h4 class="price">$78</h4>
        </app-product>
      </div><div class="col-lg-3">
        <app-product>
          <img class="img" src="assets/products/n8.jpg" alt="">
          <span class="brand">Adidas</span>
          <h5 class="name">Cartoon Astronaut T-shirts</h5>
  
          <h4 class="price">$78</h4>
        </app-product>
      </div>
  </div>

</section>
<section id="pagination" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>

</section>