<section id="page-header" >

    <h2>#KnowUs</h2>

    <p>Lorem, ipsum dolor sit amet consectetur.</p>

</section>

<section id="about-head" class="section-p1">
    <img src="assets/about/a6.jpg" alt="">
    <div>
        <h2>Who We Are?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, corporis! Placeat, corporis! Dicta
            est
            rem quos incidunt fugiat debitis numquam doloribus quisquam vel praesentium nobis iure itaque
            exercitationem
            animi laboriosam ducimus vero consectetur natus, explicabo cupiditate? Quidem voluptatem odio iste sit
            quas
            nisi numquam. Error accusantium porro, quidem illum ad id iusto quas itaque nisi voluptatum voluptatem
            quibusdam consequatur corporis unde adipisci incidunt quasi voluptas ducimus impedit eligendi amet
            praesentium accusamus cupiditate minus? Omnis ullam unde laborum saepe consectetur nobis ab esse
            ratione!
            Animi explicabo qui atque soluta enim incidunt distinctio praesentium! Sit minus repellendus sint quo
            molestiae in placeat.</p>
        <abbr title="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic magnam expedita
            voluptates.</abbr>
        <br>
        <br>
        <marquee bgcolor="#ccc" loop="-1" scrollamout="5" width="100%">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Fugiat, hic!</marquee>
    </div>
</section>
<section id="about-app" class="section-p1">
    <h1>Download our <a href="#">App</a></h1>
    <div class="video">
        <video autoplay="true" muted loop src="assets/about/1.mp4"></video>
    </div>
</section>
<app-feature></app-feature>