 .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
  }
  
   .blog-img {
    width: 50%;
    margin-right: 40px;
  }
  
   .blog-details {
    width: 50%;
  }
  
   .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
  }
  
   .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
  }
  
   .blog-details a:hover {
    color: #088178;
  }
  
   .blog-details a:hover::after {
    background-color: #088178;
  }
  
   .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
  }
  